
.selector-widget {
  font-size: 10px;
  padding: 2px 5px;
  line-height: 22px;
}

.selector-widget span {
  margin-left: 5px;
  padding: 2px 5px;
}

.selector-widget,
.selector-widget a {
  color: #333;
  background: #fff;
}

.selector-widget .selector-selected,
.selector-widget .selector-selected a,
.selector-widget .selector-cancel,
.selector-widget .selector-cancel a,
.features-component-list .features-selected {
/*color: #68a;
  background: #def;*/
  color: #6a8;
  background: #dfe;
}

.selector-widget .selector-included,
.selector-widget .selector-included a {
  color: #333;
  background: #eee;
}

.selector-widget .selector-conflict,
.selector-widget .selector-conflict a {
  color: #c30;
  background: #eee;
}

.selector-widget .selector-notselected,
.selector-widget .selector-notselected a {
  color: #999;
  background: #f8f8f8;
}

.selector-widget .selector-disabled,
.selector-widget .selector-disabled a {
  color: #999;
  background: #f8f8f8;
}
